################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/usf-asgmt3-api/bin/Debug/netcoreapp2.0
/usf-asgmt3-api/obj
/.vs
